<toaster-container></toaster-container>
<h2>About</h2>
<p>Pellentesque mauris orci, lobortis in tristique mollis, consequat eu magna. Phasellus tristique, lectus sit amet rhoncus fringilla, dui nisi porta dolor, vel bibendum est tellus pulvinar turpis. </p>
<p>Nam enim libero, lacinia a tristique a, accumsan sed purus. Phasellus ullamcorper rhoncus sagittis. </p>
<div ng-controller="AboutController as ab">
    <button type="button" class="btn btn-primary" ng-click="ab.pop()">Pop Toaster</button>
</div>